@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    box-sizing: border-box;
    /* font */
    font-family: 'Montserrat', sans-serif;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url(../img/loginfondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.loginbox {
    width: 370px;
    height: 470px;
    color: black;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 0px 30px;
    border-radius: 25px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    -webkit-box-shadow: -1px 0px 68px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 0px 68px -3px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 0px 68px -3px rgba(0, 0, 0, 0.75);
}

.loginbox img {
    width: 100%;
    margin-bottom: 40px;
}

.fa-arrow-left {
    font-size: 100px;
}

h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginbox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input {
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"],
input[type="password"] {
    background: white;
    border: 1px solid rgb(36, 36, 36);
    border-radius: 3px;
    padding: 0px 10px;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
}

.loginbox input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #372e29;
    color: white;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}